.subtitulo-1 {
  font-size: 2rem;
  font-weight: 500;
}

.subtitulo-2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.subtitulo-3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.subtitulo-4 {
  font-size: 1.1rem;
  font-weight: 500;
}
